{{ if .Params.showComments | default true }}
<script src="https://giscus.app/client.js"
        data-repo="bgdistributed/bgdistributed.org"
        data-repo-id="R_kgDOTG9Ktg"
        data-category="Comments"
        data-category-id="DIC_kwDOTG9Kts4DACaw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
